@model IEnumerable<CarDetails.DL.Models.Car>

@{
	ViewData["Title"] = "Araç Detay";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model)
{



	<div class="destination_banner_wrap overlay" style="background-image:url(/images/@item.ImageUrl)">
	</div>

	<div class="destination_details_info">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-8 col-md-9">
					<div class="destination_info">
						<h3> @item.CarDetailTitle</h3>
						<p>@item.CarDetail</p>


					</div>
					<div class="bordered_1px"></div>
				</div>
			</div>
		</div>
	</div>
}