@{
    ViewData["Title"] = "Anasayfa";
}
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay">
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay">
        </div>
    </div>
</div>

@*<div class="where_togo_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="form_area">
                    <h3> Model Ara<h3>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="search_wrap">
                    <form class="search_form" method="post" asp-action="SearchCar">
                        <div class="input_field">
                            <input type="text" name="aranan">
                        </div>
                        <div class="search_btn">
                            <button class="boxed-btn4 " type="submit">Ara</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

*@


@await Component.InvokeAsync("HomeBrandsGet")

@await Component.InvokeAsync("HomeCarsGet")