@model CarDetails.DL.Models.UserModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6" style="margin:auto; padding: 5% 0 5% 0">
        <div class="card">
            <div class="card-body">
                <form asp-action="Register" style="padding:10%">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                    </div>
                    <input type="submit" style="font-family: 'Indie Flower', cursive; background-color:orangered;" value="Kayıt Ol" class="btn btn-sm btn-success text-uppercase rounded-0 mx-auto" />
                </form>
            </div>
        </div>
    </div>
</div>

