@model IEnumerable<CarDetails.DL.Models.Brand>


<div class="popular_destination_area">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="section_title text-center mb_70">
					<h3>Markalar</h3>
				</div>
			</div>
		</div>
		<div class="row">

			@foreach (var item in Model)
			{
				<div class="col-lg-4 col-md-6">
					<div class="single_destination">
						<div class="thumb">
							<a href="/Home/GetBrands/@item.BrandId">
							<img src="~/images/@item.ImgUrl" style="height:200px;" alt="">  </a>
						</div>
						<div class="content">
							<a href="/Home/GetBrands/@item.BrandId">
								<p class="d-flex align-items-center">@item.BrandName</p>
							</a>
						</div>
					</div>
				</div>
			}

		</div>
	</div>
</div>